.grid {
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    height: 840px;
    border: solid black;
    margin: auto;
}
.grid div{
    width: 30px;
    height: 30px;
}

.pieces_of_wall_horizontally{
    background-image: url("static/pixil-frame-0.png");

}
.ball,
.super {
    box-sizing: border-box;
    border-radius: 50%;
}
.ball {
        background-color: green;
        border: 5px solid white;
}
.super {
    background-color: red;
    border: 3px solid white;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}