.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    background-color: white;
}
.grid div{
    width: 20px;
    height: 20px;
}

.pieces_of_wall_horizontally{
    background-image: url("static/pixil-frame-0.png");

}

.ball {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
    border-radius: 50%;

}