.game_win {

    position: absolute;
    width: 50%;
    height: 70%;
    top: 50%;
    left: 50%;
    display: flex;
    align-self: auto;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    transform: translate(-50%, -50%);
    z-index: 9;
}


.you_win_image{
    position: absolute;
    background-image: url("image/you_win.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.new_game_win{
    position: absolute;
    width: 17%;
    top: 47%;
    left: 43%;
}

.score_img_win {
    position: absolute;
    color: white;
    z-index: 10;
    font-size: 150%;
    top: 6%;
    left: 44%;
}